# See httphelp.github.comignore-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc
obj
bin
.vs

# dependencies
node_modules

# IDEs and editors
.idea
.project
.classpath
.c9
.launch
.settings
.sublime-workspace

# IDE - VSCode
.vscode
!.vscodesettings.json
!.vscodetasks.json
!.vscodelaunch.json
!.vscodeextensions.json

# misc
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings

# System Files
.DS_Store
Thumbs.db